body {
    margin: 2vh;
}
h1{
    text-align: center !important;
    padding-top: 25px !important;
}

.wrapper{
    text-align: center;
}

button{
    margin-top: 25px;

}

p{
    margin-top: 50px;
    text-align: center !important;
}


input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    #height: 175px;
    padding: 0px 5px;

    height: auto;
}
label[orient=vertical]
{
    transform: rotateZ(70deg);
}
